<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

  <display-name>agenda-corporativa</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  	<servlet-name>TarefaServlet</servlet-name>
	  	<servlet-class>br.edu.ifrn.agenda.servlet.TarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>TarefaServlet</servlet-name>
  		<url-pattern>/TarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	  	<servlet-name>ServletLembrete</servlet-name>
	  	<servlet-class>br.edu.ifrn.agenda.servlet.ServletLembrete</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>ServletLembrete</servlet-name>
  		<url-pattern>/ServletLembrete</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>CompromissoServlet</display-name>
    <servlet-name>CompromissoServlet</servlet-name>
    <servlet-class>br.edu.ifrn.agenda.servlet.CompromissoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompromissoServlet</servlet-name>
    <url-pattern>/compromisso</url-pattern>
  </servlet-mapping>
    
    <description>
    </description>

    <session-config>      
    </session-config>
  
</web-app>