*
{
	margin: 0 auto;
	font: 10.5px Verdana, "Trebuchet MS", Tahoma, Arial;
	list-style: none;
	text-decoration: none;
}

body
{
	background-color:#3a3a3a;
}

a{color:#419ACF;}
a:hover{color: #000;}

#site-wrap
{
	width: 960px;
	padding: 3px;

}
#top-wrap h1
{
	font-size: 28px;
	color: #419ACF;
}
#top-wrap
{

}

#top-menu-wrap
{
	background-color: white;
	margin-top: 10px;
	border-bottom: 1px solid #eee;
	width:550px;
	margin-left:0px;
}

#top-menu
{
	overflow:auto;
}
#top-menu li a
{
	float:left;
	padding:10px 10px 10px;
}
#top-menu li a:hover
{
	background-color: #419ACF;
	color: white;
}
#content-wrap
{
	border-top: 1px solid white;
	background: #f2f2f2;
	padding:5px;
}


/* Calendário */ 
#calendario-wrap
{
	overflow: hidden;
}

#calendario-sidebar
{
	width:200px;
	float:left;
	background-color: #4a4a4a;
	-moz-border-radius-bottomleft: 5px; 
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	padding:3px;
	-webkit-border-radius: 5px;
	background:#4a4a4a;
	padding-right:5px;
}

#calendario-content
{
	margin-right:0px;
	width:732px;
	-moz-border-radius: 5px; 
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-radius: 5px;
	background:#4a4a4a;
	overflow:hidden;
	padding:5px;
}

#tabela-calendario
{
	border-collapse: collapse;
	width: 100%;
	margin-top:1px;
	overflow:hidden;
}
#tabela-calendario thead tr th
{
	padding: 5px 15px 5px;
	color: white;
	border: 1px solid #e2e2e2;
}

#tabela-calendario tbody tr td
{
	height: 100px;
	width:10px;
	vertical-align: top;
	border: 1px solid #DEF0FF;

}

.dia-calendario
{
	color:#bbb;
	text-align: right;
	padding:1px;
	background-color:#DEF0FF;
	margin-bottom: 2px;
	
}
.eventos-dia-calendario
{
	padding:4px;
	color: white;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	margin-bottom:2px;
}
.eventos-dia-calendario:hover
{
	background-color:#444;
	cursor:pointer;
}
.agenda-vermelha{background-color: #A72C00;}
.agenda-laranja{background-color: #FF8D00;}
.agenda-verde{background-color: #00A200;}

.dia-selecionado{background-color:#FCF9DC;}

/* Calendario Sidebar */
#agendas-wrap
{
	margin-top:10px;
	margin-bottom:5px;
}
#agendas-wrap h3
{
	color: white;
	font-size:18px;
	padding-bottom:4px;
	border-bottom:1px solid #333;
}
/* Rodape */
#rodape
{
	padding:6px;
	margin-bottom:10px;
	text-align:center;
}

/* Internas */
#internas-content
{
	background: #f8f8f8;
	padding: 4px;
}

#internas-content h2
{
	font-size:22px;
	padding-bottom:4px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
/* Classes */
.rota-site
{
	border-bottom: 1px solid #e2e2e2;
	padding-bottom:2px;
	margin-bottom:10px;
}

.add-button-wrap
{

	background-color:#fff;
	text-align:right;
	margin-top:8px;
}
.add-button-wrap a, .add-button-wrap
{
	padding:3px;	
}
.add-button-wrap a:hover{background:#DEF0FF;}
.odd{background-color:#f8f8f8;}
.even{background-color:white;}
.linha-hover{background-color: #F4FAFF;}
.portlet { margin: 0 1em 1em 0;width:200px; }
.portlet-header { margin: 0.3em; padding: 6px; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }

/* Formulários */

fieldset
{
	border:none;
}

label
{
	display:block
}

input, select, textarea
{
	padding: 4px;
	color:#999;
	margin-top:3px;
	margin-bottom:3px;
	border:1px solid #e2e2e2;
	background-color: #fff;
}
.input-pequeno
{
	width:36px;
}
.input-medio
{
	width:70px;
}
.input-longo
{
	width:400px;
}

textarea
{
	width:400px;
	height:150px;
}